{% extends "core/base.html" %}
{% load static %}
{% block contenido %}
<div class="container">
    <div class="row project">  	
                <div class="col-lg-12 col-md-12">
                    <h5 class="section-heading">Bienvenido</h5>   
                    <p>Ecatepec es uno de los municipios con más muertes violentas en contra de las mujeres y se encuentra dentro de los 11 municipios con Alerta de Violencia de Género (AVG) en el Estado de México, sin embargo, se cuenta con poca información estadística que nos ayude a identificar los puntos de riesgos específicos.</p>
                    <p>Este trabajo terminal propone desarrollar un prototipo de software que estime el nivel de riesgo al que se expone una mujer cuya ubicación se encuentre dentro del municipio de Ecatepec, Estado de México, mediante el análisis de información  de  los delitos de  feminicidio, violación y asalto a mano armada, considerando como fuentes de datos, periódicos digitales y datos proporcionados por el gobierno de Ecatepec, a fin de que esta herramienta ayude a mejorar la toma de decisiones para mujeres y usuarios interesados.​</p>
                </div>
    </div>

    <div class="row project">  	
                <div class="col-lg-7 col-md-8" style="float: left;">
                </div>
    </div>
    
</div>
{% endblock %}